---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Tutorial</title>
	</head>
	<body>
        <div>
			<a href="/">Incio</a>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</div>

		<h1>About</h1>
        <h2>Marco y su travesia en aprender Astro</h2>
        <p>Estoy aprendiendo conocimiento valioso por medio de la documentacion que ofrece Astro para aprender a usar este framework</p>
	</body>
</html>