---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Tutorial</title>
	</head>
	<body>
        <div>
			<a href="/">Incio</a>
			<a href="/about">About</a>
			<a href="/blog">Blog</a>
		</div>

		<h1>Mi Blog</h1>
        <p>Soy Marco Arturo y actualmente estudio la carrera de ing en software, y me llama la atencion aprender Astro para poder tenerlo como herramienta agil y eficiente.</p>
	</body>
</html>