---
import '@/styles/global.css'
import Navigation from "@/components/Navigation.astro"
import Footer from '@/components/Footer.astro'

const pageTitle = 'Pagina de Incio'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>
	</head>
	<body>
		<Navigation />

		<h1>{ pageTitle }</h1>
		<p>Este es el index</p>
		
		<Footer />
	</body>
</html>