---
const platform = 'github'
const username= 'MarcoCatarino'
---

<footer>
    <p>Mas informacion sobre mis proyectos en 
        <a href={`https://www.${platform}.com/${username}`}>{platform}</a>
    </p>
</footer>
